<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body style=" background-color: #EFE7E1; height: 100vh; padding: 64px; text-align: center;">
    <div class="logo-container">
        <img src="../../../assets/res/pombo-correio-logo.png">
        <div style="display: inline-block;">
            <h1>Pombo Correio</h1>
            <h2>Onde a sua comunicação levanta voo!</h2>
        </div>
    </div>
    <div class="login-container">
        <div>
            <p class="inner-title">Que bom te ver por aqui!</p>
            <p class="inner-subtitle">Qual pombo é você na fila do pão?</p>
        </div>
        
        <div style="margin-top: 2.5vw; padding: 0 2.5vw;">

            <div class="input-container">
                <p>Primeiro Nome</p>
                <input style="background-color: #E2E2E2; border-radius: 16px; border: #E2E2E2 0 solid; padding: 2px; width: 408px; height: 48px" />
            </div>

            <div class="input-container">
                <p>Sobrenome</p>
                <input style="background-color: #E2E2E2; border-radius: 16px; border: #E2E2E2 0 solid; padding: 2px; width: 408px; height: 48px" />
            </div>

            <div class="input-container">
                <p>Endereço de Email</p>
                <input style="background-color: #E2E2E2; border-radius: 16px; border: #E2E2E2 0 solid; padding: 2px; width: 28.3vw; height: 3.3vw" />
            </div>

            <div class="input-container">
                <p>Senha</p>
                <input style="background-color: #E2E2E2; border-radius: 16px; border: #E2E2E2 0 solid; padding: 2px; width: 28.3vw; height: 3.3vw" />
            </div>

            <button>Fazer Login</button>
        </div>
    </div>
</body>
