@font-face {
    font-family: "Product Sans";
    src: local("Product Sans"), url(../../../assets/fonts/Product-Sans-Regular.ttf) format("truetype");
}

* {
    font-family: "Product Sans", Arial, Helvetica, sans-serif;
}

.logo-container {
    margin-left: -5.9vw;
}

.logo-container img {
    height: 5.9vw; 
    width: 5.9vw; 
    display: inline-block;
}

.logo-container div {
    display: inline-block;
}

.logo-container div h1 {
    margin: 0;
    color: #CB7627;
    font-size: 5vw; 
    font-weight: bold; 
    text-align: center;
}

.logo-container div h2 {
    margin: 0; 
    color: #8B8B8B; 
    font-size: 1.6vw; 
    font-weight: normal; 
    text-align: center;
}

.login-container {
    background-color: #FFFFFF; 
    border-radius: 0.8vw; 
    display: inline-block; 
    vertical-align: middle; 
    margin-top: 2.5vw;
}

.inner-title {
    margin: 2.083vw 2.847vw 0 2.083vw; 
    font-weight: bold; 
    font-size: 2.431vw;
}

.inner-subtitle {
    margin-top: 0.5vw; 
    font-weight: bold; 
    font-size: 1.25vw; 
    color: #8B8B8B;
}

button {
    font-size: 1.25vw; 
    font-weight: bold; 
    background-color: #CB7627; 
    border: #CB7627 0 solid; 
    border-radius: 1.111vw;
    color: #FFFFFF; 
    padding: 1.111vw 5vw;
    margin-bottom: 1.806vw;
}

.input-container {
    text-align: start; 
    margin-bottom: 1.806vw;
}

.input-container p {
    font-size: 1.25vw; 
    font-weight: normal; 
    margin: 0 0 0.5vw 0;
}