<body style=" background-color: #EFE7E1; height: 100vh; padding: 64px; text-align: center;">
    <div style="margin-left: -85px;">
        <img src="../../../assets/res/pombo-correio-logo.png" 
        style="height: 85px; width: 85px; display: inline-block;">
        <div style="display: inline-block;">
            <h1 style="margin: 0; color: #CB7627; font-size: 72px; font-weight: bold; text-align: center;">Pombo Correio</h1>
            <h2 style="margin: 0; color: #8B8B8B; font-size: 24px; font-weight: normal; text-align: center;">Onde a sua comunicação levanta voo!</h2>
        </div>
    </div>
    <div style="background-color: #FFFFFF; border-radius: 12px; display: inline-block; padding: 64px; vertical-align: middle; margin-top: 128px;">
        <p>Que bom te ver por aqui!</p>
    </div>
</body>
